<html>
	<head>
		<title>Authenticate | Github Web Browser</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" href="admin/css/cpanel.css">
		<link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<style>
			#container {
				min-width : 300px;
				width : 500px;
				text-align : left;
				margin-top : 10%;
			}
		</style>
	</head>
	<body>
		<center>
			<div id='container'>
				<label>Authentication Required</label>
				<p>You are required to autheticate to access this Github Web Browser. We will redirect you to Github for authentication. If you authenticate successfully, you will be redirected to our homepage.</p>
				<a href="/authenticate/re"><input type='submit' value='Authenticate'></a>
			</div>
		</center>
	</body>
</html>